@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700;800;900&display=swap');
:root{
    --color-primary: #f9f6f1;
    --color-secondary: blue;
    --color-third:  yellow;
    --color-dark: #000000;
    --color-light:  white;
    --color-muted: #777370;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Archivo', sans-serif !important;
    font-size: 0.88rem;
    background: var(--color-primary) !important;
    user-select: none;
    overflow-x: hidden;
}
h1{
    font-size: 4.5rem !important;
    font-weight: 700 !important;
}
.title{
    padding-top: 100px;
}
p{
    font-size: 1.45rem !important;
    color: var(--color-muted) !important;
}
.list li{
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: var(--color-muted);
}
.btn-dark{
    --bs-btn-bg: #000 !important;
    --bs-btn-padding-x: 1.8rem !important;
    --bs-btn-padding-y: 1.2rem !important;
}
.btn{
    font-size: 1.4rem !important;
    color: var(--color-light) !important;
    font-weight: 600 !important;
}
.button-content{
    padding-top: .7rem;
    padding-bottom: 3.2rem;
}

#imagecontent{
    background: url('../../Assets/Hero Image.jpg') !important;
    background-size: cover !important;
    position: center center  !important;
    background-repeat: no-repeat !important;
  }
@media screen and (max-width: 768px) {
    #imagecontent{
        background: url('../../Assets/Hero Image (Tablet and Mobile).jpg') !important;
        background-size:0%;
        background-repeat: no-repeat !important;
        height: 40vh;
      }
      
      .quote-box{
        top: 50% !important;
        left: 85% !important;
        transform: translate(-50%, -50%);
        position: relative;
      }
  }
  @media screen and (max-width: 570px){
    .quote-box{
        top: 60% !important;
left: 56% !important;
transform: translate(-50%, -50%) !important;
position: relative !important;
    }
  }
  #firstcol{
    padding: 7.40rem !important;
  }
  #title-login h1{
    font-size: 2.5rem !important;
  }
  #navbar-login{
    padding-top: 4rem;
  }
  .backlink{
    list-style: none !important;
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
  }
  .btn-login{
    background: #000 !important;
    padding: 1rem 0 1rem 0 !important;
  }
  .form-label{
    font-size: 1.3rem !important;
  }
  .form-control{
    background: var(--color-primary) !important;
    padding: 1.5rem 3rem !important;
  }
  .text-muted{
    font-size: 1.4rem !important;
    padding-top: 1.5rem;
  }
  .quote-box{
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    position: relative;
  }
  .quote p{
    font-size: 1.8rem !important;
    font-weight: 700 !important;
    color: var(--color-dark) !important;
  }
  .loginform{
    background: white !important; 
    padding: 0 10rem 22rem 10rem;
  }
  .d-flex .navbar-text a{
    text-decoration: none !important;
    list-style: none !important;
    padding-right: 1rem;

  }
  .navbar-text{
    padding-top: 1.6rem !important;
  }
  .btn-create{
      --bs-btn-bg: #000 !important;
      --bs-btn-padding-x: 1.8rem !important;
      --bs-btn-padding-y: 1.2rem !important;
  }
  .map-section img {
    margin: auto;    
    display: block;
}